<div class="container-fluid" >
  <div class="row-fluid">
   <div class="col-lg-2"></div>
   <div class="col-lg-8">
      <div class="alert alert-success">
        "My Scheduler" is a personal calendar application build with <a href="https://angularjs.org/">AngularJS</a>, 
        <a href="http://getbootstrap.com/">Boostrap 3</a>, <a href="http://angular-ui.github.io/ui-calendar/">angular-ui-calender</a>
        and the <a href="http://arshaw.com/fullcalendar/">Arshaw FullCalendar</a> control. Scheduled events can be added by dragging 
        external (draggable) events onto the calendar control. Scheduled events can be removed from the calendar by clicking on the 
        them and they can be saved by pressing the "Save Scheduled Events" button. Both scheduled and external (draggable) events are 
        saved in the local store. If you require events to be saved using a REST service, use the commented code in the selectable_events.js 
        and scheduled_events.js services.
       </div> 
        <div class="alert alert-danger">
          If you intend to use "My Scheduler" in a public accessable network e.g. internet, you will need to implement security provisions,
          which should include login functionality. 
       </div>       
    </div>
   <div class="col-lg-2"></div>
</div>  
